<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <script type="text/javascript">
        (function(doc, win) {
            var docEl = doc.documentElement;
            (function() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) {
                    return;
                }
                docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
            }());
        })(document, window);
    </script>
    <link rel="stylesheet" href="http://localhost:8080/css/normalize.css">
</head>
<body>
    {{{body}}}
    {{> common/scripts}}
</body>
</html>
