<div class="slider product">
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="./images/slide1.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide2.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide1.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide1.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide2.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide1.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide1.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide2.JPG" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./images/slide1.JPG" alt="">
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white swiper-btn"></div>
        <div class="swiper-button-next swiper-button-white swiper-btn"></div>
    </div>
</div>
