.product {
    margin: 0 50px;

    .swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;

        .swiper-btn {
            color: #ccc;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 300px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
