@import "./_header.css";
@import "./_menu.css";
@import "./_footer.css";

.mask {
    position: absolute;
    top: 0;
    height: 99vh;
    width: 100%;;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 80;
    display: none;
}
