<div class="home-page">
    {{> common/header}}
    {{> common/mask}}
    {{> common/menu}}
    {{> home/banner}}
    {{> home/product-slider}}
    {{> home/culture-banner}}
</div>

{{> common/footer}}
